<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
<menu id="root-menu" label="root-menu">
	<menu id="Accessories" label="Accessories">
		<item label="Accerciser" icon="accerciser">
			<action name="Execute"><command>accerciser</command></action>
		</item>
		<item label="Archive Manager" icon="org.gnome.FileRoller">
			<action name="Execute"><command>file-roller</command></action>
		</item>
		<item label="Calculator" icon="org.gnome.Calculator">
			<action name="Execute"><command>gnome-calculator</command></action>
		</item>
		<item label="Calendar" icon="org.gnome.Calendar">
			<action name="Execute"><command>gnome-calendar</command></action>
		</item>
		<item label="Characters" icon="org.gnome.Characters">
			<action name="Execute"><command>/usr/bin/gnome-characters</command></action>
		</item>
		<item label="Clocks" icon="org.gnome.clocks">
			<action name="Execute"><command>gnome-clocks</command></action>
		</item>
		<item label="Connections" icon="org.gnome.Connections">
			<action name="Execute"><command>gnome-connections</command></action>
		</item>
		<item label="Disks" icon="org.gnome.DiskUtility">
			<action name="Execute"><command>gnome-disks</command></action>
		</item>
		<item label="Endeavour" icon="org.gnome.Todo">
			<action name="Execute"><command>endeavour</command></action>
		</item>
		<item label="Extensions" icon="org.gnome.Extensions">
			<action name="Execute"><command>/usr/bin/gnome-extensions-app --gapplication-service</command></action>
		</item>
		<item label="Files" icon="org.gnome.Nautilus">
			<action name="Execute"><command>nautilus --new-window</command></action>
		</item>
		<item label="Fonts" icon="org.gnome.font-viewer">
			<action name="Execute"><command>gnome-font-viewer</command></action>
		</item>
		<item label="gedit" icon="org.gnome.gedit">
			<action name="Execute"><command>gedit</command></action>
		</item>
		<item label="Help" icon="org.gnome.Yelp">
			<action name="Execute"><command>yelp</command></action>
		</item>
		<item label="ipython" icon="ipython">
			<action name="Execute"><command>ipython</command></action>
		</item>
		<item label="Logs" icon="org.gnome.Logs">
			<action name="Execute"><command>gnome-logs</command></action>
		</item>
		<item label="Maps" icon="org.gnome.Maps">
			<action name="Execute"><command>gapplication launch org.gnome.Maps</command></action>
		</item>
		<item label="Notes" icon="org.gnome.Notes">
			<action name="Execute"><command>bijiben</command></action>
		</item>
		<item label="Passwords and Keys" icon="org.gnome.seahorse.Application">
			<action name="Execute"><command>seahorse</command></action>
		</item>
		<item label="Photos" icon="org.gnome.Photos">
			<action name="Execute"><command>gnome-photos</command></action>
		</item>
		<item label="Recipes" icon="org.gnome.Recipes">
			<action name="Execute"><command>gnome-recipes</command></action>
		</item>
		<item label="Text Editor" icon="org.gnome.TextEditor">
			<action name="Execute"><command>gnome-text-editor</command></action>
		</item>
		<item label="Tour" icon="org.gnome.Tour">
			<action name="Execute"><command>gnome-tour</command></action>
		</item>
		<item label="Tweaks" icon="org.gnome.tweaks">
			<action name="Execute"><command>gnome-tweaks</command></action>
		</item>
		<item label="Vim" icon="gvim">
			<action name="Execute"><command>vim</command></action>
		</item>
		<item label="Weather" icon="org.gnome.Weather">
			<action name="Execute"><command>gapplication launch org.gnome.Weather</command></action>
		</item>
	</menu> <!-- Accessories -->
	<menu id="Development" label="Development">
		<item label="Accerciser" icon="accerciser">
			<action name="Execute"><command>accerciser</command></action>
		</item>
		<item label="Boxes" icon="org.gnome.Boxes">
			<action name="Execute"><command>gnome-boxes</command></action>
		</item>
		<item label="Builder" icon="org.gnome.Builder">
			<action name="Execute"><command>gnome-builder</command></action>
		</item>
		<item label="CMake" icon="CMakeSetup">
			<action name="Execute"><command>cmake-gui</command></action>
		</item>
		<item label="D-Spy" icon="org.gnome.dspy">
			<action name="Execute"><command>d-spy</command></action>
		</item>
		<item label="Devhelp" icon="org.gnome.Devhelp">
			<action name="Execute"><command>devhelp</command></action>
		</item>
		<item label="GHex" icon="org.gnome.GHex">
			<action name="Execute"><command>ghex</command></action>
		</item>
		<item label="gitg" icon="org.gnome.gitg">
			<action name="Execute"><command>gitg --no-wd --standalone</command></action>
		</item>
		<item label="Glade" icon="org.gnome.Glade">
			<action name="Execute"><command>glade</command></action>
		</item>
		<item label="IntelliJ IDEA Community Edition" icon="/home/mk/installs/idea-community/bin/idea.svg">
			<action name="Execute"><command>"/home/mk/installs/idea-community/bin/idea.sh"</command></action>
		</item>
		<item label="ipython" icon="ipython">
			<action name="Execute"><command>ipython</command></action>
		</item>
		<item label="Sysprof" icon="org.gnome.Sysprof">
			<action name="Execute"><command>sysprof</command></action>
		</item>
	</menu> <!-- Development -->
	<menu id="Games" label="Games">
		<item label="2048" icon="org.gnome.TwentyFortyEight">
			<action name="Execute"><command>gnome-2048</command></action>
		</item>
		<item label="Chess" icon="org.gnome.Chess">
			<action name="Execute"><command>gnome-chess</command></action>
		</item>
		<item label="Five or More" icon="org.gnome.five-or-more">
			<action name="Execute"><command>five-or-more</command></action>
		</item>
		<item label="Four-in-a-row" icon="org.gnome.Four-in-a-row">
			<action name="Execute"><command>four-in-a-row</command></action>
		</item>
		<item label="Games" icon="org.gnome.Games">
			<action name="Execute"><command>gnome-games</command></action>
		</item>
		<item label="Hitori" icon="org.gnome.Hitori">
			<action name="Execute"><command>hitori</command></action>
		</item>
		<item label="Klotski" icon="org.gnome.Klotski">
			<action name="Execute"><command>gnome-klotski</command></action>
		</item>
		<item label="Lights Off" icon="org.gnome.LightsOff">
			<action name="Execute"><command>lightsoff</command></action>
		</item>
		<item label="Mahjongg" icon="org.gnome.Mahjongg">
			<action name="Execute"><command>gnome-mahjongg</command></action>
		</item>
		<item label="Mines" icon="org.gnome.Mines">
			<action name="Execute"><command>gnome-mines</command></action>
		</item>
		<item label="Nibbles" icon="org.gnome.Nibbles">
			<action name="Execute"><command>gnome-nibbles</command></action>
		</item>
		<item label="Quadrapassel" icon="org.gnome.Quadrapassel">
			<action name="Execute"><command>quadrapassel</command></action>
		</item>
		<item label="Reversi" icon="org.gnome.Reversi">
			<action name="Execute"><command>iagno</command></action>
		</item>
		<item label="Robots" icon="org.gnome.Robots">
			<action name="Execute"><command>gnome-robots</command></action>
		</item>
		<item label="Sudoku" icon="org.gnome.Sudoku">
			<action name="Execute"><command>gnome-sudoku</command></action>
		</item>
		<item label="Swell Foop" icon="org.gnome.SwellFoop">
			<action name="Execute"><command>swell-foop</command></action>
		</item>
		<item label="Tali" icon="org.gnome.Tali">
			<action name="Execute"><command>tali</command></action>
		</item>
		<item label="Taquin" icon="org.gnome.Taquin">
			<action name="Execute"><command>gnome-taquin</command></action>
		</item>
		<item label="Tetravex" icon="org.gnome.Tetravex">
			<action name="Execute"><command>gnome-tetravex</command></action>
		</item>
	</menu> <!-- Games -->
	<menu id="Graphics" label="Graphics">
		<item label="Document Scanner" icon="org.gnome.SimpleScan">
			<action name="Execute"><command>simple-scan</command></action>
		</item>
		<item label="Document Viewer" icon="org.gnome.Evince">
			<action name="Execute"><command>evince</command></action>
		</item>
		<item label="Image Viewer" icon="org.gnome.eog">
			<action name="Execute"><command>eog</command></action>
		</item>
		<item label="Photos" icon="org.gnome.Photos">
			<action name="Execute"><command>gnome-photos</command></action>
		</item>
	</menu> <!-- Graphics -->
	<menu id="Internet" label="Internet">
		<item label="Advanced Network Configuration" icon="preferences-system-network">
			<action name="Execute"><command>nm-connection-editor</command></action>
		</item>
		<item label="Avahi SSH Server Browser" icon="network-wired">
			<action name="Execute"><command>/usr/bin/bssh</command></action>
		</item>
		<item label="Avahi VNC Server Browser" icon="network-wired">
			<action name="Execute"><command>/usr/bin/bvnc</command></action>
		</item>
		<item label="Chromium" icon="chromium">
			<action name="Execute"><command>/usr/bin/chromium</command></action>
		</item>
		<item label="Connections" icon="org.gnome.Connections">
			<action name="Execute"><command>gnome-connections</command></action>
		</item>
		<item label="Firefox Web Browser" icon="firefox">
			<action name="Execute"><command>/usr/lib/firefox/firefox</command></action>
		</item>
		<item label="Geary" icon="org.gnome.Geary">
			<action name="Execute"><command>geary</command></action>
		</item>
		<item label="Polari" icon="org.gnome.Polari">
			<action name="Execute"><command>gapplication launch org.gnome.Polari</command></action>
		</item>
		<item label="Web" icon="org.gnome.Epiphany">
			<action name="Execute"><command>epiphany</command></action>
		</item>
	</menu> <!-- Internet -->
	<menu id="Multimedia" label="Multimedia">
		<item label="Cheese" icon="org.gnome.Cheese">
			<action name="Execute"><command>cheese</command></action>
		</item>
		<item label="Echomixer" icon="echomixer">
			<action name="Execute"><command>echomixer</command></action>
		</item>
		<item label="Envy24 Control" icon="envy24control">
			<action name="Execute"><command>envy24control</command></action>
		</item>
		<item label="HDAJackRetask" icon="(null)">
			<action name="Execute"><command>hdajackretask</command></action>
		</item>
		<item label="HDSPConf" icon="hdspconf">
			<action name="Execute"><command>hdspconf</command></action>
		</item>
		<item label="HDSPMixer" icon="hdspmixer">
			<action name="Execute"><command>hdspmixer</command></action>
		</item>
		<item label="Hwmixvolume" icon="hwmixvolume">
			<action name="Execute"><command>hwmixvolume</command></action>
		</item>
		<item label="Music" icon="org.gnome.Music">
			<action name="Execute"><command>gnome-music</command></action>
		</item>
		<item label="PulseAudio Volume Control" icon="multimedia-volume-control">
			<action name="Execute"><command>pavucontrol</command></action>
		</item>
		<item label="Qt V4L2 test Utility" icon="qv4l2">
			<action name="Execute"><command>qv4l2</command></action>
		</item>
		<item label="Qt V4L2 video capture utility" icon="qvidcap">
			<action name="Execute"><command>qvidcap</command></action>
		</item>
		<item label="Sound Recorder" icon="org.gnome.SoundRecorder">
			<action name="Execute"><command>gnome-sound-recorder</command></action>
		</item>
		<item label="Videos" icon="org.gnome.Totem">
			<action name="Execute"><command>totem</command></action>
		</item>
	</menu> <!-- Multimedia -->
	<menu id="Office" label="Office">
		<item label="Calendar" icon="org.gnome.Calendar">
			<action name="Execute"><command>gnome-calendar</command></action>
		</item>
		<item label="Contacts" icon="org.gnome.Contacts">
			<action name="Execute"><command>gnome-contacts</command></action>
		</item>
		<item label="Dictionary" icon="org.gnome.Dictionary">
			<action name="Execute"><command>gnome-dictionary</command></action>
		</item>
		<item label="Document Viewer" icon="org.gnome.Evince">
			<action name="Execute"><command>evince</command></action>
		</item>
		<item label="Evolution" icon="evolution">
			<action name="Execute"><command>evolution</command></action>
		</item>
	</menu> <!-- Office -->
	<menu id="Settings" label="Settings">
		<item label="Advanced Network Configuration" icon="preferences-system-network">
			<action name="Execute"><command>nm-connection-editor</command></action>
		</item>
		<item label="Labwc Config" icon="labwc-tweaks">
			<action name="Execute"><command>labwc-tweaks</command></action>
		</item>
		<item label="Openbox Configuration Manager" icon="obconf">
			<action name="Execute"><command>obconf</command></action>
		</item>
		<item label="Passwords and Keys" icon="org.gnome.seahorse.Application">
			<action name="Execute"><command>seahorse</command></action>
		</item>
		<item label="PulseAudio Volume Control" icon="multimedia-volume-control">
			<action name="Execute"><command>pavucontrol</command></action>
		</item>
		<item label="Rygel Preferences" icon="rygel">
			<action name="Execute"><command>rygel-preferences</command></action>
		</item>
		<item label="Settings" icon="org.gnome.Settings">
			<action name="Execute"><command>gnome-control-center</command></action>
		</item>
	</menu> <!-- Settings -->
	<menu id="System" label="System">
		<item label="Alacritty" icon="Alacritty">
			<action name="Execute"><command>alacritty</command></action>
		</item>
		<item label="Avahi Zeroconf Browser" icon="network-wired">
			<action name="Execute"><command>/usr/bin/avahi-discover</command></action>
		</item>
		<item label="Boxes" icon="org.gnome.Boxes">
			<action name="Execute"><command>gnome-boxes</command></action>
		</item>
		<item label="Color Profile Viewer" icon="gnome-color-manager">
			<action name="Execute"><command>gcm-viewer</command></action>
		</item>
		<item label="conky" icon="conky-logomark-violet">
			<action name="Execute"><command>conky --daemonize --pause=1</command></action>
		</item>
		<item label="Console" icon="org.gnome.Console">
			<action name="Execute"><command>kgx</command></action>
		</item>
		<item label="dconf Editor" icon="ca.desrt.dconf-editor">
			<action name="Execute"><command>dconf-editor</command></action>
		</item>
		<item label="Disk Usage Analyzer" icon="org.gnome.baobab">
			<action name="Execute"><command>baobab</command></action>
		</item>
		<item label="GNOME System Monitor" icon="org.gnome.SystemMonitor">
			<action name="Execute"><command>gnome-system-monitor</command></action>
		</item>
		<item label="Hardware Locality lstopo" icon="hwloc">
			<action name="Execute"><command>lstopo</command></action>
		</item>
		<item label="Labwc Config" icon="labwc-tweaks">
			<action name="Execute"><command>labwc-tweaks</command></action>
		</item>
		<item label="Logs" icon="org.gnome.Logs">
			<action name="Execute"><command>gnome-logs</command></action>
		</item>
		<item label="MultiWriter" icon="org.gnome.MultiWriter">
			<action name="Execute"><command>gnome-multi-writer</command></action>
		</item>
		<item label="OpenJDK Java 20 Console" icon="java20-openjdk">
			<action name="Execute"><command>/usr/lib/jvm/java-20-openjdk/bin/jconsole</command></action>
		</item>
		<item label="OpenJDK Java 20 Shell" icon="java20-openjdk">
			<action name="Execute"><command>/usr/lib/jvm/java-20-openjdk/bin/jshell</command></action>
		</item>
		<item label="Parental Controls" icon="org.freedesktop.MalcontentControl">
			<action name="Execute"><command>malcontent-control</command></action>
		</item>
		<item label="Software" icon="org.gnome.Software">
			<action name="Execute"><command>gnome-software</command></action>
		</item>
		<item label="System Monitor" icon="org.gnome.SystemMonitor">
			<action name="Execute"><command>gnome-system-monitor</command></action>
		</item>
		<item label="Terminal" icon="org.gnome.Terminal">
			<action name="Execute"><command>gnome-terminal</command></action>
		</item>
		<item label="UXTerm" icon="xterm-color_48x48">
			<action name="Execute"><command>uxterm</command></action>
		</item>
		<item label="XTerm" icon="xterm-color_48x48">
			<action name="Execute"><command>xterm</command></action>
		</item>
	</menu> <!-- System -->
        <item label="Web browser">
    <action name="Execute" command="firefox" />
  </item>
  <item label="Terminal">
    <action name="Execute" command="alacritty" />
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Exit">
    <action name="Exit" />
  </item>
  <item label="Poweroff">
    <action name="Execute" command="systemctl -i poweroff" />
  </item>
</menu> <!-- root-menu -->
</openbox_menu>
